.btn-delete {
    display: inline-block;
    opacity: 0;
    background: #fff;
    color: #444;
    font-weight: bold;
    border: 1px solid silver;
    border-radius: 100px;
    position: absolute;
    top: -1.3rem;
    height: 2.6rem;
    width: 2.6rem;
    left: -1.3rem;
    transition: opacity 0.4s;
}

.btn-delete:active {
    background: #ddd;
    color: #222;
}

.list-project-container {
    display: flex;
    overflow-x: scroll;
}

.list-project-header {
    display: flex;
    align-items: center;
}

.list-project-header h2 {
    flex-grow: 1;
}

.list-project #grid {
    display: flex;
    list-style-type: none;
    padding: .4rem;
}

.list-project #grid>li {
    position: relative;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    width: 24rem;
    min-width: 12rem;
    margin: 1.2rem;
    padding: .8rem;
    padding-bottom: 0;
    text-align: center;
    border: 1px solid silver;
    background-color: #FFF;
}

.list-project #grid>li:hover {
    outline: .3rem solid #CCC;
    cursor: pointer;
}

.list-project #grid>li:hover .btn-delete {
    opacity: 1;
}

.list-project #grid .picture {
    min-height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #000;
}

.list-project #grid .picture img {
    width: 100%;
    display: block;
}

.list-project #grid span {
    padding: 1.6rem;
    display: block;
    color: #000000BB
}

.list-project #grid a {
    text-decoration: none;
}