.ele {
    display: inline-block;
    border: 1px solid silver;
    overflow: auto;
    background-color: #FFF;
    text-align: left;
    page-break-inside: avoid;
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}