.tpl-small.ele {
    width: 31.4rem;
    margin: .8rem;
    padding: .8rem;
}

@media print {
    .tpl-small.ele {
        margin: 2.8rem;
    }
}

.tpl-small .action-container {
    flex: 1;
}

.tpl-small .indicators {
    flex: 0;
}

.tpl-small .legend {
    height: 9.6rem;
    overflow: hidden;
    padding-top: .8rem;
    display: flex;
}

.tpl-small .sequence{
    margin-bottom: .8rem;
}
