.tpl-large.ele {
    width: 73rem;
    margin: .8rem;
    padding: .8rem;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .8rem;
    page-break-inside: avoid;
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;
}

.preview .tpl-large.ele {
    width: 100%;
    margin: 0;
    padding: 2%;
}

.preview .tpl-large .legend {
    display: none;
}

@media print {
    .tpl-large-ele {
        margin: 2.8rem;
    }
}

.tpl-large .action-container {
    overflow: hidden;
}

.tpl-large .indicators {
    display: flex;
    align-items: center;
    align-content: flex-start;
    margin-bottom: .8rem;
}
