.configuration{
    background: #FFF;
    text-align: left;
    padding: 0 2.4rem;
    min-width: 20rem;
}

@media print {
    .configuration{
        display: none;
    }
}

.configuration h1{
    font-size: 2.4rem;
    margin-right: 1.6rem
}

.configuration h2{
    font-size: 2.0rem;
    margin-right: 1.6rem
}
