.configuration{
    background: #FFF;
    text-align: left;
    width: 25rem;
    height: 100%;
    overflow-y: auto;
}

@media print {
    .configuration{
        display: none;
    }
}

.configuration h1{
    font-size: 2.4rem;
    margin: 1.6rem
}

.configuration h2{
    font-size: 2.0rem;
    margin: 1.6rem
}

.configuration #font-family{
    margin-left: 1.6rem;
}

.configuration .template input{
    display: none;
}

.configuration .template label{
    display: block;
    padding: 5%;
}

.configuration .template label i{
    display: inline-block;
    color: #666;
    margin-bottom: 5%;
}

.configuration .template input[type="radio"]:checked+label{
    background-color: #EEE;
}

.configuration .labels{
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}

.configuration .button-container{
  text-align: center;
}

.configuration .button{
  background-color: transparent;
  margin: 0 2rem;
}
