.configuration{
    background: #FFF;
    text-align: left;
    min-width: 25rem;
}

@media print {
    .configuration{
        display: none;
    }
}

.configuration h1{
    font-size: 2.4rem;
    margin: 1.6rem
}

.configuration h2{
    font-size: 2.0rem;
    margin: 1.6rem
}

.configuration #font-family{
    margin-left: 1.6rem;
}

.configuration .template input{
    display: none;
}

.configuration .template label{
    display: block;
}

.configuration .template input[type="radio"]:checked+label{
    background-color: #EEE;
}

.configuration .labels{
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}
