/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modal.display {
    display: block;
}

/* Modal Content/Box */
.modal-content {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .98);
    margin: 4% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    max-width: 62rem;
    text-align: left;
}

#form-img {
    width: 100%;
}

#form-meta-datas{

}
#form-sequence, #form-action, #label, #periode, #fx {
    border-radius: 2px;
    background-color: #EEE;
    border: none;
    margin-bottom: .8rem;
    font-family: "Courier New", Courier, monospace;
    font-size: 2.4rem;
}

#form label {
    padding: 1rem;
}

#form-action {
    width: 100%;
}

#form-sequence {
    width: 6rem;
}

#periode {
    width: 14rem;
}

#label {
    width: 16rem;
}

.photogram-form-container{
  background-color: #DDD;
  margin-bottom: 1rem;
  min-height: 24rem;
  text-align: center;
}

.photogram-form-container input{
  display: none;
}

.photogram-form-container label{
  
}
