.projects-container{
    max-width: 80rem;
    margin: auto;
    padding: 0 6.4rem;
}

.projects-container .new-project {
    text-align:center;
}

.projects-empty{
    display: block;
    width: 51.2rem;
    margin: 12.8rem auto;
}

.btn-delete {
    display: inline-block;
    opacity: 0;
    background: #fff;
    color: #444;
    font-weight: bold;
    border: 1px solid silver;
    border-radius: 100px;
    position: absolute;
    top: -1.3rem;
    height: 2.6rem;
    width: 2.6rem;
    left: -1.3rem;
    transition: opacity 0.4s;
}
.btn-delete:active {
    background: #ddd;
    color: #222;
}
.projects-container #grid {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: auto;
    overflow-y: hidden;
    flex-flow: wrap;
    padding: .4rem;
}
.projects-container #grid> li {
    position: relative;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    width: 24rem;
    min-width: 12rem;
    margin: 1.2rem;
    padding: .8rem;
    padding-bottom: 0;
    text-align: center;
    border: 1px solid silver;
    background-color: #FFF;
}
.projects-container #grid> li:hover {
    outline: .3rem solid #CCC;
    cursor: pointer;
}
.projects-container #grid> li:hover .btn-delete {
    opacity: 1;
}
.projects-container #grid .picture {
    min-height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #000;
}
.projects-container #grid .picture img {
    width: 100%;
    display: block;
}
.projects-container #grid span {
    padding: 1.6rem;
    display:block;
    color: #000000BB
}
.projects-container #grid a{
    text-decoration: none;
}
